@use "../../Styles/_variables" as *;

.threeHourWeather-ctner {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-around;
}

.dailyWeather-ctner {
  padding: 0rem 2rem;
}
.home {
  display: flex;
  justify-content: center;
  background: transparent;
  color: black;
  font-family: $font-cursive;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}
.home:hover {
  color: $white;
}

.loader-ctner {
  display: flex;
  justify-content: center;
  margin: 2rem;
  .loader {
    border: 1.5rem solid $offWhite;
    border-radius: 50%;
    border-top: 1.5rem solid $lightPurple;
    width: 10rem;
    height: 10rem;
    animation: spinner 4s linear infinite;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
