@use "../../Styles/_variables" as *;
.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  .current-image {
    height: 3rem;
    width: 3rem;
  }
  .current-temp {
    font-family: $font-text;
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
  .current-text {
    font-family: $font-text;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
  }
  .current-local {
    font-family: $font-main;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
}

.hourly-weather {
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  height: 7rem;
  width: 7rem;
  border-radius: 1rem;
  margin: 1rem;
  .hourly-temp {
    font-family: $font-text;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: $white;
  }
  .hourly-time {
    font-family: $font-main;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: $white;
  }
}

.daily-weather {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 2rem;
  border-radius: 1rem;
  margin: 1rem;

  .daily-temp {
    font-family: $font-text;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: $white;
    width: 10rem;
  }

  .daily-text {
    font-family: $font-text;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: $white;
    margin-left: -2rem;
    width: 15rem;
  }
  .daily-date {
    font-family: $font-main;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: $white;
    width: 10rem;
    padding-left: 5rem;
  }
  .daily-img {
    margin-left: -14rem;
    margin-right: 5rem;
    height: 3rem;
    width: 3rem;
  }
}

.title-weather {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 1rem;
  border-radius: 1rem;
  margin: 1rem;

  .daily-temp {
    font-family: $font-main;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: $white;
    width: 10rem;
  }

  .daily-text {
    font-family: $font-main;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: $white;
    margin-left: -2rem;
    width: 15rem;
  }
  .daily-date {
    font-family: $font-main;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: $white;
    width: 10rem;
    padding-left: 5rem;
  }
  .daily-img {
    margin-left: -14rem;
    margin-right: 5rem;
    height: 3rem;
    width: 3rem;
  }
}
