@use "../../Styles/_variables" as *;
.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  .current-image {
    height: 3rem;
    width: 3rem;
  }
  .current-temp {
    font-family: $font-text;
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
  .current-text {
    font-family: $font-text;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
  }
  .current-local {
    font-family: $font-main;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
}

.hourly-weather {
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  height: 7rem;
  width: 7rem;
  border-radius: 1rem;
  margin: 1rem;
  .hourly-temp {
    font-family: $font-text;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: $white;
  }
  .hourly-time {
    font-family: $font-main;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: $white;
  }
}

.daily-weather {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 2rem;
  border-radius: 1rem;
  margin: 1rem;

  .daily-temp {
    font-family: $font-text;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: $white;
    width: 10rem;
  }
  .daily-uv {
    font-family: $font-text;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: $white;
    width: 10rem;
  }
  .daily-humidity {
    font-family: $font-text;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: $white;
    width: 10rem;
  }
  .daily-text {
    font-family: $font-text;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: $white;
    margin-left: -2rem;
    width: 15rem;
  }
  .daily-date {
    font-family: $font-main;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: $white;
    width: 10rem;
    padding-left: 5rem;
  }
  .daily-img {
    margin-left: -14rem;
    margin-right: 5rem;
    height: 3rem;
    width: 3rem;
  }
}

.title-weather {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  .daily-uv {
    font-family: $font-main;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: $white;
    width: 10rem;
  }
  .daily-humidity {
    font-family: $font-main;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: $white;
    width: 10rem;
  }
  .daily-temp {
    font-family: $font-main;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: $white;
    width: 10rem;
  }

  .daily-text {
    font-family: $font-main;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: $white;
    margin-left: -2rem;
    width: 15rem;
  }
  .daily-date {
    font-family: $font-main;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: $white;
    width: 10rem;
    padding-left: 5rem;
  }
  .daily-img {
    margin-left: -14rem;
    margin-right: 5rem;
    height: 3rem;
    width: 3rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 760px) {
  .current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    .current-image {
      height: 1rem;
      width: 1rem;
    }
    .current-temp {
      font-family: $font-text;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
    }
    .current-text {
      font-family: $font-text;
      font-size: 1rem;
      letter-spacing: 0.2rem;
      margin-bottom: 0.5rem;
    }
    .current-local {
      font-family: $font-main;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
    }
  }

  .hourly-weather {
    text-align: center;
    padding: 0.7rem;
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
    margin: 0.6rem;
    .hourly-temp {
      font-size: 0.7rem;
      letter-spacing: 0.1rem;
    }
    .hourly-time {
      font-family: $font-main;
      font-size: 0.7rem;
      letter-spacing: 0.1rem;
      font-weight: 400;
      color: $white;
    }
    .hourly-img {
      height: 2rem;
      width: 2rem;
    }
  }

  .daily-weather {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    border-radius: 1rem;

    .daily-temp {
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }

    .daily-text {
      font-size: 1rem;
      letter-spacing: 0.1rem;
      margin-left: 5rem;
    }
    .daily-date {
      font-size: 1rem;
      letter-spacing: 0.1rem;
      font-weight: 500;
      margin-left: -5rem;
    }
    .daily-img {
      height: 3rem;
      width: 3rem;
      margin-left: 5rem;
    }
    .daily-uv {
      font-size: 1rem;
    }
    .daily-humidity {
      font-size: 1rem;
    }
  }

  .title-weather {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    border-radius: 1rem;

    .daily-temp {
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
    .daily-uv {
      font-size: 1rem;
    }
    .daily-humidity {
      font-size: 1rem;
    }
    .daily-text {
      font-size: 1rem;
      letter-spacing: 0.1rem;
      margin-left: 5rem;
    }
    .daily-date {
      font-size: 1rem;
      letter-spacing: 0.1rem;
      font-weight: 500;
      margin-left: -5rem;
    }
    .daily-img {
      height: 3rem;
      width: 3rem;
      margin-left: 5rem;
    }
  }
}

@media screen and (min-width: 761px) and (max-width: 1500px) {
  .daily-weather {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 2rem;
    border-radius: 1rem;
    margin: 1rem;

    .daily-temp {
      font-family: $font-text;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      color: $white;
      width: 5rem;
      margin: 1rem;
    }
    .daily-uv {
      font-family: $font-text;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      color: $white;
      width: 0rem;
      margin: 0 0 0 0rem;

      padding: 0;
    }
    .daily-humidity {
      font-family: $font-text;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      color: $white;
      width: 0rem;
      margin: 0rem;
    }

    .daily-text {
      font-family: $font-text;
      font-size: 1.1rem;
      letter-spacing: 0.1rem;
      color: $white;
      margin-left: 0rem;
      width: 5rem;
    }
    .daily-date {
      font-family: $font-main;
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      font-weight: 600;
      color: $white;
      width: 1rem;
      padding-left: 1rem;
    }
    .daily-img {
      margin-left: -18rem;
      margin-right: 0rem;
      height: 3rem;
      width: 3rem;
    }
  }

  .title-weather {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 1rem;
    border-radius: 1rem;
    margin: 1rem;

    .daily-temp {
      font-family: $font-main;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      color: $white;
      width: 5rem;
      margin: 1rem;
    }
    .daily-uv {
      font-family: $font-main;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      color: $white;
      width: 0rem;
      margin: 0 0 0 0rem;

      padding: 0;
    }
    .daily-humidity {
      font-family: $font-main;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      color: $white;
      width: 0rem;
      margin: 0rem;
    }

    .daily-text {
      font-family: $font-main;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      color: $white;
      margin-left: 0rem;
      width: 5rem;
    }
    .daily-date {
      font-family: $font-main;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      font-weight: 600;
      color: $white;
      width: 1rem;
      padding-left: 1rem;
    }
    .daily-img {
      margin-left: -18rem;
      margin-right: 0rem;
      height: 3rem;
      width: 3rem;
    }
  }
}
