@import url("https://fonts.googleapis.com/css2?family=Asap:wght@200;300;400;500;600;700;800&family=Nothing+You+Could+Do&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");
$font-cursive: "Nothing You Could Do", cursive;
$font-text: "Yanone Kaffeesatz", sans-serif;
$font-main: "Asap", sans-serif;
