@use "../../Styles/_variables" as *;

.app-ctner {
  display: flex;
  padding: 3rem;
  justify-content: space-around;
  color: $white;
  .app-forecast,
  .app-list {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 3rem;
    height: 25rem;
    width: 25rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    color: $white;
  }
  .app-forecast {
    background-image: url("../../assets/cloudy.png");
    background-size: 20rem, 20rem, auto;
    background-position: 2rem;
    background-repeat: no-repeat;
  }
  .app-list {
    background-image: url("../../assets/to-do-list.png");
    background-size: 20rem, 20rem, auto;
    background-position: 2rem;
    background-repeat: no-repeat;
  }
}
a {
  text-decoration: none;
}

@media screen and (min-width: 0px) and (max-width: 399px) {
  .app-ctner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    .app-forecast,
    .app-list {
      height: 15rem;
      width: 15rem;
    }
    .app-forecast {
      background-size: 10rem, 10rem, auto;
      margin-bottom: 2rem;
    }
    .app-list {
      background-size: 10rem, 10rem, auto;
    }
  }
}

@media screen and (min-width: 400px) and (max-width: 900px) {
  .app-ctner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    .app-forecast,
    .app-list {
      height: 22rem;
      width: 22rem;
    }
    .app-forecast {
      background-size: 18rem, 18rem, auto;
      margin-bottom: 2rem;
    }
    .app-list {
      background-size: 18rem, 18rem, auto;
    }
  }
}
