@use "../../Styles/_variables" as *;

.greeting {
  background: transparent;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  color: #fff;
  font-family: $font-cursive;
  animation: greeting 1s ease-in-out infinite alternate;
}
@keyframes greeting {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.clock-ctner {
  display: flex;
  justify-content: center;
  .clock {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    height: 7rem;
    width: 7rem;
    border-radius: 1rem;
    margin: 0.7rem;
    font-size: 3rem;
  }
}

.threeHourWeather-ctner {
  display: flex;
  padding: 2rem;
  justify-content: space-around;
}
