@use "./Styles//variables" as *;

* {
  margin: 0;
  padding: 0;
  background-image: url("./assets//1.jpg");
  background-size: cover;
}
div,
h1,
h2,
h3,
img,
p {
  background: transparent;
}

.greeting {
  background: transparent;
  width: 100%;
  padding: 2rem 0;
  font-size: 3rem;
  text-align: center;
  color: $white;
  font-family: $font-cursive;
  animation: greeting 1s ease-in-out infinite alternate;
}
@keyframes greeting {
  from {
    text-shadow: 0 0 10px $white, 0 0 20px $white, 0 0 30px $purple,
      0 0 40px $purple, 0 0 50px $purple, 0 0 60px $purple, 0 0 70px $purple;
  }

  to {
    text-shadow: 0 0 20px $white, 0 0 30px $lightPurple, 0 0 40px $lightPurple,
      0 0 50px $lightPurple, 0 0 60px $lightPurple, 0 0 70px $lightPurple,
      0 0 80px $lightPurple;
  }
}
.clock-ctner {
  display: flex;
  justify-content: center;
  .clock {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: $white;
    background-color: rgba(0, 0, 0, 0.4);
    height: 7rem;
    width: 7rem;
    border-radius: 1rem;
    margin: 0.7rem;
    font-size: 3rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  .greeting {
    background: transparent;
    width: 100%;
    padding: 2rem 0;
    font-size: 2rem;
    text-align: center;
    color: $white;
    font-family: $font-cursive;
    animation: greeting 1s ease-in-out infinite alternate;
  }
  .clock-ctner {
    display: flex;
    justify-content: center;
    .clock {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      color: $white;
      background-color: rgba(0, 0, 0, 0.4);
      height: 5rem;
      width: 5rem;
      border-radius: 1rem;
      margin: 0.7rem;
      font-size: 2rem;
    }
  }
}
